@font-face {
  font-family: "iconfont"; /* Project id 2092882 */
  src: url('iconfont.woff2?t=1666935522700') format('woff2'),
       url('iconfont.woff?t=1666935522700') format('woff'),
       url('iconfont.ttf?t=1666935522700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-head-gongjuxiang:before {
  content: "\e620";
}

.icon-peizhixinxi:before {
  content: "\e608";
}

.icon-tigaofenxijieguokekaoxing:before {
  content: "\e602";
}

.icon-buzhoulianxian:before {
  content: "\e648";
}

.icon-page:before {
  content: "\e7ea";
}

.icon-web2:before {
  content: "\e6fc";
}

.icon-briefcase:before {
  content: "\e60d";
}

.icon-cryo:before {
  content: "\e60e";
}

.icon-wangge:before {
  content: "\e626";
}

.icon-putongzhihang:before {
  content: "\e62a";
}

.icon-baogaomoban:before {
  content: "\e722";
}

.icon-lanmupeizhi:before {
  content: "\e611";
}

.icon-script-language:before {
  content: "\e7e3";
}

.icon-jar:before {
  content: "\e639";
}

.icon-system-configuration:before {
  content: "\e616";
}

.icon-shujuyuan:before {
  content: "\ee1e";
}

.icon-rocketspacest:before {
  content: "\e627";
}

.icon-chuangzaoli:before {
  content: "\e603";
}

.icon-gongju:before {
  content: "\e607";
}

.icon-renwuzhongxin:before {
  content: "\e634";
}

.icon-test-case-group:before {
  content: "\e606";
}

.icon-changjing:before {
  content: "\e61b";
}

.icon-icon:before {
  content: "\e653";
}

